@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.container {
  display: flex;
  flex-direction: column;
  gap: space.$s4;
  margin-bottom: space.$s6;

  &.container button {
    order: 3;
  }

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    align-items: center;
    margin-bottom: space.$s6;

    &.container button {
      order: 0;
    }

    div:nth-child(2) {
      margin-left: auto;
    }
  }
}
