@use "styles/color";
@use "styles/space";
@use "styles/font";

.container {
  position: relative;
  max-width: 1.25rem;
  max-height: 1.5rem;
  padding-left: space.$s6;
  padding-right: space.$s3;

  .checkbox {
    z-index: 1000;
    cursor: pointer;
    position: relative;
    width: space.$s5;
    height: space.$s5;
    opacity: 0;
  }

  .checkbox + label {
    position: absolute;
    left: 24px;
    top: 15px;
    padding-left: 30px;
    display: inline-block;
    color: #666;
    font: font.$text-md-medium;
  }
}

.checkbox[data-state="partly-checked"] + label::before {
  background: color.$primary-50;
  outline: 1px solid color.$primary-600;
  border-radius: 6px;
}

.checkbox[data-state="partly-checked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  width: space.$s5;
  height: space.$s5;
  background: url("../../../public/icons/minus.svg") no-repeat center center;
}

.checkbox[type="checkbox"].sm + label {
  font: font.$text-sm-medium;
}

.checkbox[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  width: space.$s5;
  height: space.$s5;
  outline: 1px solid color.$gray-300;
  border-radius: 6px;
  background: #fff;
}

.checkbox[data-state="checked"] + label::before {
  background: color.$primary-50;
  outline: 1px solid color.$primary-600;
  border-radius: 6px;
}

.checkbox[type="checkbox"].sm + label::before {
  border-radius: space.$s1;
  width: space.$s4;
  height: space.$s4;
}

.checkbox[data-state="checked"]:focus + label::before,
.checkbox[data-state="partly-checked"]:focus + label::before {
  box-shadow: 0 0 0 4px #f4ebff;
}

.checkbox[data-state="checked"]:disabled + label::before,
.checkbox[data-state="partly-checked"]:disabled + label::before {
  background-color: color.$gray-100;
  outline: 1px solid color.$gray-200;
  cursor: not-allowed;
}

.checkbox[data-state="checked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  width: space.$s5;
  height: space.$s5;
  background: url("../../../public/icons/check.svg") no-repeat center center;
}

.checkbox[data-state="unchecked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: space.$s5;
  height: space.$s5;
}

.checkbox[data-state="checked"].sm + label::after,
.checkbox[data-state="partly-checked"].sm + label::after {
  width: space.$s4;
  height: space.$s4;
  border-radius: space.$s1;
}

.checkbox[data-state="checked"]:disabled + label::after,
.checkbox[data-state="partly-checked"]:disabled + label::after {
  opacity: 0.2;
}

.checkbox[data-state="unchecked"]:hover + label::before {
  outline: 1px solid color.$primary-600;
  background-color: color.$primary-50;
}

.checkbox[data-state="unchecked"]:focus + label::before {
  outline: 1px solid color.$primary-300;
  box-shadow: 0 0 0 4px #f4ebff;
}

.checkbox[data-state="unchecked"]:disabled + label::before {
  background-color: color.$gray-100;
  outline: 1px solid color.$gray-200;
  cursor: not-allowed;
}
