@use "styles/color";
@use "styles/space";
@use "styles/font";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 4.625rem;
  max-height: 1.5rem;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #666;
  font: font.$text-md-medium;
}

input[data-state="partly-checked"] + label::before {
  background: color.$primary-50;
  outline: 1px solid color.$primary-600;
  border-radius: 6px;
}

input[data-state="partly-checked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: space.$s5;
  height: space.$s5;
  background: url("../../../public/icons/minus.svg") no-repeat center center;
}

input[type="checkbox"].sm + label {
  font: font.$text-sm-medium;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: space.$s5;
  height: space.$s5;
  outline: 1px solid color.$gray-300;
  border-radius: 6px;
  background: #fff;
}

input[data-state="checked"] + label::before {
  background: color.$primary-50;
  outline: 1px solid color.$primary-600;
  border-radius: 6px;
}

input[type="checkbox"].sm + label::before {
  border-radius: space.$s1;
  width: space.$s4;
  height: space.$s4;
}

input[data-state="checked"]:focus + label::before,
input[data-state="partly-checked"]:focus + label::before {
  box-shadow: 0 0 0 4px #f4ebff;
}

input[data-state="checked"]:disabled + label::before,
input[data-state="partly-checked"]:disabled + label::before {
  background-color: color.$gray-100;
  outline: 1px solid color.$gray-200;
  cursor: not-allowed;
}

input[data-state="checked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: space.$s5;
  height: space.$s5;
  background: url("../../../public/icons/check.svg") no-repeat center center;
}

input[data-state="unchecked"] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: space.$s5;
  height: space.$s5;
}

input[data-state="checked"].sm + label::after,
input[data-state="partly-checked"].sm + label::after {
  width: space.$s4;
  height: space.$s4;
  border-radius: space.$s1;
}

input[data-state="checked"]:disabled + label::after,
input[data-state="partly-checked"]:disabled + label::after {
  opacity: 0.2;
}

input[data-state="unchecked"]:hover + label::before {
  outline: 1px solid color.$primary-600;
  background-color: color.$primary-50;
}

input[data-state="unchecked"]:focus + label::before {
  outline: 1px solid color.$primary-300;
  box-shadow: 0 0 0 4px #f4ebff;
}

input[data-state="unchecked"]:disabled + label::before {
  background-color: color.$gray-100;
  outline: 1px solid color.$gray-200;
  cursor: not-allowed;
}
