@use "styles/color";
@use "styles/space";
@use "styles/font";

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  color: color.$gray-500;

  &.filled {
    color: color.$gray-900;
  }

  &:disabled {
    color: color.$gray-300;
    cursor: not-allowed;
  }
}

.selectMenu {
  width: 20rem;
  height: 2.75rem;
  position: relative;
}

.errorMessageText {
  position: absolute;
  left: 0;
  color: color.$error-500;
  font: font.$text-sm-regular;
}

.selectMenu.chevron img[alt="chevron-down"] {
  transform: rotate(180deg);
}

.hint {
  position: absolute;
  left: 0;
  color: color.$gray-500;
  font: font.$text-sm-regular;
}

.selectMenu.chevron .hint,
.selectMenu.chevron .errorMessageText {
  display: none;
}

.selectMenu .selectBtn {
  display: flex;
  background: #fff;
  padding: 10px 14px;
  font: font.$text-md-regular;
  border-radius: space.$s2;
  align-items: center;
  cursor: pointer;
  border: 1px solid color.$gray-300;
  justify-content: space-between;
  margin: 0.375rem 0;

  &:focus {
    border: 1px solid color.$primary-300;
    box-shadow:
      0 0 0 4px #f4ebff,
      0 1px 2px 0 rgb(16 24 40 / 5%);
    outline: none;
  }

  &.error {
    border: 1px solid color.$error-300;

    &:focus {
      box-shadow:
        0 0 0 4px #fee4e2,
        0 1px 2px 0 rgb(16 24 40 / 5%);
    }
  }
}

.selectMenu .options {
  position: relative;
  border-radius: space.$s2;
  background-color: #fff;
  box-shadow:
    0 4px 6px -2px rgb(16 24 40 / 5%),
    0 12px 16px -4px rgb(16 24 40 / 10%);
}

.options .option {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 10px 14px;
  align-items: center;
  background-color: #fff;
}

.optionText {
  font: font.$text-md-regular;
}

.options .option:hover {
  background-color: color.$primary-50;
}

.check {
  position: absolute;
  right: 14px;
}

.label {
  color: color.$gray-700;
  font: font.$text-sm-medium;
}

.icon {
  color: color.$gray-500;
  margin-right: space.$s2;
}

.btnText {
  display: flex;
  align-items: center;
  gap: space.$s2;
}
